.root {
  display: block;
}

.root input {
  border-style: 1px solid #ccc;
  box-sizing: border-box;
  padding: .5rem;
  width: 100%;
}

.error > span {
  color: red;
  display: block;
  font-size: .8rem;
  margin-top: .25rem;
}

.error > input {
  border: 1px solid red;
}
