@import url('https://fonts.googleapis.com/css?family=Roboto');

:global html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

:global body {
  height: 100%;
  margin: 0;
}

:global #app {
  height: 100%;
}

:global button {
  background: #333;
  border: none;
  border-radius: .25rem;
  color: #fff;
  cursor: pointer;
  padding: .5rem 1rem;
}

:global button:disabled {
  color: #666;
  font-style: italic;
}

:global button:hover {
  background: #111;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.root header {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
}

.root main {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 1rem;
}

.root footer {
  border-top: 1px solid #ccc;
  font-size: .8rem;
  padding: 1rem;
  text-align: center;
}

.panel {
  border: 1px solid #ccc;
  max-width: 66vw;
  padding: 1rem;
}

@media only screen and (min-width : 480px) {
	.panel {
    max-width: 40vw;
	}
}

.panel h1 {
  margin-top: 0;
  text-align: center;
}

.introduction {
  text-align: center;
}

.signupButton {
  display: flex;
  justify-content: center;
}
