.error {
  color: red;
}

.overlay {
  align-items: center;
  background: rgba(0,0,0,0.33);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
}

.modal {
  background: #fff;
  box-shadow: 0px 2px 2px #000;
  padding: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 90%;
  min-width: 66vw;
}

@media only screen and (min-width : 480px) {
	.modal {
    min-width: 33vw;
	}
}

.instruction {
  font-style: italic;
  margin: 1rem 0;
  text-align: center;
}

.errorMessage {
  color: red;
  font-style: italic;
  text-align: center;
}
